@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

h1 {
    color: whitesmoke;
    font-family: 'Inconsolata', monospace;
    font-size: 3rem;
}

a {
    color: black;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
}

.navbar-brand {
    color:black;
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
}

body {
    background: url(../img/polosy.jpg) no-repeat center fixed;
    margin: auto;
}
 html {
    scroll-behavior: smooth;
 }
 h1 {
     text-align: center;
 }

 h3 {
     color:blanchedalmond;
 }

 label {
     color: antiquewhite;
 }

.clock {
    color: white;
}
img {
    min-width: 320px;
}
